snippet /*=
	/* ${1:module_name}
		 ========================================================================== */

snippet /*>=
	/* ${1:module_name} » ${2:submodule_name}
		 ========================================================================== */
